html {
    scroll-behavior: auto !important;
}

body {
    background-color: #313338;
    color: #dbdee1;
    font-family: 'Whitney', sans-serif;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
}

ul {
    position: absolute;
    bottom: 0;
    left: 8px;
    list-style-type: none;
    padding: 0;
    padding-bottom: 68px;
    margin: 0;
}

li {
    padding: 10px;
    /* border-bottom: 1px solid #4a4d52; */
}

ul li:last-child {
    margin-bottom: 0;
}

ul li.haslikes:last-child {
    margin-bottom: 14px;
}

p {
    margin-top: -2px;
    margin-left: 0;
    margin-bottom: 0;
}

#message {
    position: fixed;
    bottom: 0;
    width: auto;
    left: 16px;
    right: 16px;
    text-align: left;
    height: 44px;
    padding-left: 16px;
    margin-bottom: 24px;
    font-size: calc(1.375rem * 0.7);
    border-radius: 8px;
    background-color: #383a40;
    border: none;
    color: #dbdee1;
}

#message::placeholder {
    color: #6d6f78;
}

#message:focus {
    outline: none;
}

#message:disabled {
    color: #6d6f78;
}

#signin {
    position: fixed;
    top: 10px;
    right: 10px;
}

a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #dbdee1;
}

a:hover {
    text-decoration: underline;
}

.div {
    display: flex;
    align-items: top;
}

.iconDiv {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    margin-top: 5px;
    /* background-color: black; */
    /* border-radius: 50%; */
}

img {
    width: 35px;
    height: 35px;
    /* border-radius: 50%; */
}

span {
    display: inline-block;
    font-size: 0.8em;
    color: gray;
    margin-left: -3px;
}

.likesSelected {
    cursor: pointer;
    margin-left: 45px;
    margin-top: 5px;
    margin-bottom: -10px;
    padding: 2px 6px;
    outline: .0625rem solid #5865f2;
    background-color: #373a54;
    border-radius: 0.5rem;
    display: inline-block;
}

.likes {
    cursor: pointer;
    margin-left: 45px;
    margin-top: 5px;
    margin-bottom: -10px;
    padding: 2px 6px;
    outline: .0625rem solid #5a5c6000;
    background-color: #2b2d31;
    border-radius: 0.5rem;
    display: inline-block;
    transition: background-color calc(0.125s * 0.5) ease-in-out,
        outline calc(0.125s * 0.5) ease-in-out;
}

.likes:hover {
    outline: .0625rem solid #5a5c60;
    background-color: #313338;
    transition: background-color calc(0.125s * 0.5) ease-in-out,
        outline calc(0.125s * 0.5) ease-in-out;
}

.likes:active {
    outline: .0625rem solid #5a5c6000;
    background-color: #232428;
    transition: background-color calc(0.25s * 0.5) ease-in-out,
        outline 0.125s ease-in-out;
    /* transition-delay: calc(0.125s * 0.75); */
    /* adjust this value to the delay you want */
}

.likesSpan {
    color: #dbddf9;
    font-size: 1em;
    margin-right: 3px;
    margin-left: 1px;
    transition: background-color calc(0.125s * 0.5) ease-in-out,
        outline calc(0.125s * 0.5) ease-in-out;
}

.emoji {
    /* set to size of text */
    width: 1em;
    height: 1em;
    margin-right: 6px;
    margin-left: 3px;
}

.hidden {
    display: none;
}